<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ form.name }}</title>
    <!-- Includi le librerie di Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">{{ form.name }}</h2>
                        <p class="text-justify">{{ form.description }}</p>

                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in dynamic_form %}
                                <div class="form-group">
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        <div class="form-check">
                                            {{ field }}
                                            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Invia</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
